@media only screen and (min-width: 600px) and (max-width:999px){
    .menu_container{
        background-image: url("menu_background.png");
        height: 40rem;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .menu_logo{
        width: 18%;
        margin-top: 5rem;
        margin-left: 2rem;
    }
    .menu_titulo{
        margin-left: 2rem;
    }
    .menu_titulo .menu_titulo_1{
        color: #00458A;
        font-size: 1.3rem;
    }
    .menu_titulo .menu_titulo_2{
        color: #00458A;
        font-weight: bold;
        font-size: 1.3rem;
    }
    .menu_opcion{
        width: 30%;
        background: #d12429;
        border: none;
        border-radius: 0.4rem;
        color: white;
        font-weight: bold;
        height: 2rem;
        margin-left: 2rem;
        margin-bottom: 0.6rem;
    }
    .menu_opcion:hover{
        cursor: pointer;
    }
}